body {
  margin: 0;
  padding: 0
}
main {
  padding: 16px
}
footer {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 0;
  padding-right: 0;
  background-color: #B8D9D3;
}
img {
  height: 200px
}
nav {
  border-color: black;
  border-width: 1px;
  padding: 16px;
  background-color: #B8D9D3;
}
.recipe-div {
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 36px 36px 0 0;
}
a:link {
  text-decoration: none;
}
.all-recipe-divs {
  grid-template-columns: 1fr 50px 1fr 1fr;
}
table :nth-child(even) {
  background-color: #99BFB4;
}
